<% if @artists.any? %>
<h1 class="ui center aligned header">All <%= @billboard.genre %> Artists:</h1>
  <% hidden_count = 0 %>
  <div class="ui massive center celled list">
    <% @artists.each do |artist| %>
      <div class="item">
        <% if artist.genre == @billboard.genre %>
          <div class="ui center aligned header">
            <%= link_to artist.name, billboard_artist_path(@billboard, artist) %>
          </div>
        <% else %>
          <% hidden_count += 1 %>
          <% if hidden_count == @artists.count %>
            <div class="ui center aligned header">          
              <h1>No <%= @billboard.genre %> artists</h1>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="ui center aligned header">
    <h1>No Artists</h1>
  </div>
<% end %>