<h1 class="subtitle">All <%= @billboard.genre %> Artists:</h1>

<% if @artists.any? %>
  <% hidden_count = 0 %>
  <% @artists.each do |artist| %>
    <% if artist.genre == @billboard.genre %>
      <li class="band_names">
      <%= link_to artist.name, billboard_artist_path(@billboard, artist), 
        class: "band_names" %></li>
    <% else %>
      <% hidden_count += 1 %>
      <% if hidden_count == @artists.count %>
        <h1>No <%= @billboard.genre %> artists</h1>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <h1>No artists</h1>
<% end %>