<h1 class="title">All Artists</h1>

<div class="ui two item menu">
  <%= link_to "Home", billboards_path, class: "item" %>
  <%= link_to "Create New Artist", new_artist_path(@artist), class: "item" %>
</div>

<% if @artists.any? %>
  <div class="ui massive center celled list">
    <% @artists.each do |artist| %>
      <div class="item">
        <div class="ui center aligned header">
          <%= link_to "#{artist.name} | Genre: #{artist.genre}", artist_path(artist) %>
        </div>
    <% end %>
<% else %>
        <div class="ui center aligned header">
          <h1>No Artists</h1>
        </div>
      </div>
<% end %>