<h1 class="title">All Artists</h1>

<ul class="nav_bar">
  <li><%= link_to "Home", billboards_path, class: "nav_bar_button" %></li>
  <li><%= link_to "Create New Artist", new_artist_path(@artist), class: "nav_bar_button" %></li>
</ul>

<% if @artists.any? %>
  <ul class="band_list">
    <% @artists.each do |artist| %>
      <li class="band_names">
      <%= link_to "#{artist.name} | Genre - #{artist.genre}", artist_path(artist), 
        class: "band_names" %> </li>
    <% end %>
  </ul>
<% else %>
  <br>
  <h1 class="billboard_name">No Artists</h1>
<% end %>
