html {
  background-color: #dddddd;
  margin: 0px 50px;
}

.title {
  margin-top: 5px;
  text-align: center;
  font-size: 36px;
  margin-bottom: 5px;
}

.subtitle {
  margin-top: 0px;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 0px;
}

.chart {
  margin-top: 36px;
  font-size: 64px;
}

.billboard_name {
  text-align: center;
  color: black;
  text-decoration: none;  
}

.band_list {
  margin-top: 50px;
  margin-left: 17.5%;
  /* list-style-type: none; */
}

.band_names {
  margin-top: 25px;
  color: black;
  text-decoration: none;  
  font-size: 32px;
}

.nav_bar {
  list-style-type: none;
  margin-left: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #eceaea;
  border: 1px solid black;
  border-radius: 10px;
}

.nav_bar li {
  float: left;
  border-right: 1px solid rgb(94, 94, 94);
  background-color: #bbbbbb;  
}

.nav_bar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
}

.nav_bar li a:hover {
  background-color: rgb(139, 139, 139);
  color: white;
}

form {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;  
  background-color: #eceaea
}

p.inline .voteRank {
  display: inline;
}