<h1 class="title">Edit Billboard</h1>

<div class="ui two item menu">
  <%= link_to "Home", billboards_path, class: "item" %> 
  <%= link_to "Cancel", billboard_path(@billboard), class: "item" %>  
</div>

<%= render "form" %>