<h1 class="title">Music Billboards</h1>


<div class="ui two item menu">
  <%= link_to "Create New Billboard", new_billboard_path, class: "item" %>
  <%= link_to "All Artists", artists_path, class: "item" %>
</div>


<% if @billboards.any? %>
  <div class="ui massive center celled list">
    <% @billboards.each do |bb| %>
    <div class="item">
      <div class="ui center aligned header">
        <%= link_to bb.name, billboard_path(bb), class: "billboard_name" %>
      </div>
    </div>
    
    <% end %>
<% else %>
      <div class="ui center aligned header">
        <h2>No billboards</h2>
      </div>
    </div>
<% end %>