<h1 class="title">New Billboard</h1>

<div class="ui two item menu">
  <%= link_to "Home", billboards_path, class: "item" %>
  <%= link_to "Cancel", billboards_path, class: "item" %>
</div>

<%= render "form" %>